<div class="head-soc-news">
    {% if has_model %}
        <div class="wrapper-bg clearfix">
            <div class="avatar">
                <img src="{{ post.post_avatar }}" alt="">
            </div>
            <div class="description-social">
                <span>{{ post.post_publisher }}</span>
                <span>Последние новости {{ social_network }}</span>
            </div>
            <a class="but-go-sosial-web" href="{{ social_network.url }}" target="_blank"></a>
        </div>
    {% else %}
        <div class="wrapper-bg clearfix">
            <a class="com-soon" href="{{ social_network.url }}" target="_blank">{{ social_network.url }}</a>
            <a class="but-go-sosial-web" href="{{ social_network.url }}" target="_blank"></a>
        </div>
    {% endif %}
</div>