{% load thumbnail %}

{% for celebrity in celebrities %}
    <div class="col-md-4 col-sm-6 item">
        <div class="post-wrapper clearfix">
            <div class="layout-photo">
                <a href="{{ celebrity.get_absolute_url }}">
                    {% thumbnail celebrity.photo_set.all.0.image "370x325" crop="top" as img %}
                        <img src="{{ img.url }}" alt="{{ celebrity }}" title="{{ celebrity }}">
                    {% endthumbnail %}
                </a>
                {% if user.is_authenticated and celebrity in user.get_my_subscribes %}
                    <div class="ic-check-follow"><i class="fa fa-check"></i></div>
                {% endif %}
                <div class="name-post-container">
                    <div class="person-name">{{ celebrity }}</div>
                    <div class="person-short-description">{{ celebrity.excerpt }}</div>
                </div>
            </div>
            {% if celebrity.socialnetwork_set.count %}
                <ul class="social-post">
                    {% for social_network in celebrity.socialnetwork_set.all %}
                        {% if forloop.counter0 == 4 and celebrity.socialnetwork_set.count > 4 %}
                            <li class="all"><a href="#"></a></li>
                        {% endif %}
                        <li class="{{ social_network.social_network }}">
                            <a href="{{ social_network.url }}" target="_blank"></a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endfor %}

{% if page_obj.has_next %}
    <div class="col-sm-12 col-md-12 paginate">
        <div class="but-load clearfix">
            <button>Загрузить еще</button>
        </div>
    </div>
{% endif %}