{% extends 'heaps_app/base_html.html' %}
{% load static %}

{% block title %}Настройки аккаунта{% endblock %}

{% block additional_style %}
    <link rel="stylesheet" href="{% static 'heaps_app/js/jCrop/css/jquery.Jcrop.min.css' %}">
{% endblock %}

{% block additional_scripts %}
    <script src="{% static 'heaps_app/js/jquery.form.min.js' %}"></script>
    <script src="{% static 'heaps_app/js/jCrop/js/jquery.Jcrop.min.js' %}"></script>
{% endblock %}

{% block content %}
    <form action="{% url 'heaps_app:account-settings' %}" role="form" enctype="multipart/form-data"
          id="account-settings" class="f-user-setting" method="post">
        {% csrf_token %}
        <div class="col-md-10 wrap-info-message"></div>
        <div class="col-md-4 col-sm-6">
            <div class="l-col-user-settings clearfix">
                <div class="upload-photo-box">
                    <div class="photo-box">
                        <img src="{{ user.avatar.url }}">
                        {{ form.avatar }}
                    </div>
                    <button type="button" class="upload-btn-photo">Загрузить фото</button>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="settings-section">
                <div class="input-box">
                    <label for="{{ form.first_name.id_for_label }}"><span>{{ form.first_name.label }}</span></label>
                    {{ form.first_name }}
                </div>
                <div class="input-box">
                    <label for="{{ form.last_name.id_for_label }}"><span>{{ form.last_name.label }}</span></label>
                    {{ form.last_name }}
                </div>
                <div class="input-box">
                    <label for="{{ form.email.id_for_label }}"><span>{{ form.email.label }}</span></label>
                    {{ form.email }}
                </div>
                <div class="input-box">
                    <label for="{{ form.password.id_for_label }}"><span>{{ form.password.label }}</span></label>
                    {{ form.password }}
                </div>
                <div class="input-box">
                    <label for="{{ form.password_repeat.id_for_label }}"><span>{{ form.password_repeat.label }}</span></label>
                    {{ form.password_repeat }}
                </div>
                <button type="submit" class="change-data-btn">Изменить данные</button>
                {% if user.get_social_auth_providers %}
                    <span class="t-social">Ваш аккаунт привязан к таким социальным сетям:</span>
                    <ul class="social-post-znam-page">
                        {% for social_provider in user.get_social_auth_providers %}
                            <li class="{{ social_provider }}"><a></a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
        <div id="popup" class="mod-user-photo-upload modal fade" role="dialog">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
                        <div class="wrapper">
                            <div class="head-form">
                                <span>Загрузка фотографии для вашого профиля</span>
                                <span>Выделите необходимую область</span>
                            </div>
                            <div class="mod-upload-photo-box">
                                <canvas id="canvas" height="0" width="0"></canvas>
                                <img src="">
                            </div>
                            <button type="button" class="send">Сохранить</button>
                            <button type="button" class="but-mod-back" data-dismiss="modal">< Назад</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}