{% extends 'heaps_app/base_html.html' %}
{% load thumbnail %}

{% block title %}{{ celebrity.meta_title|default:celebrity }}{% endblock %}

{% block seo %}
    {% if celebrity.meta_description %}
        <meta name="description" content="{{ celebrity.meta_description }}">
    {% endif %}
    {% if celebrity.meta_keywords %}
        <meta name="keywords" content="{{ celebrity.meta_keywords }}">
    {% endif %}
{% endblock %}

{% block content %}
    <div class="col-md-4 col-sm-6">
        <div class="post-wrapper clearfix">
            <div class="layout-photo">
                {% thumbnail celebrity.photo_set.all.0.image "427x374" crop="top" as img %}
                    <img src="{{ img.url }}" alt="{{ celebrity }}" title="{{ celebrity }}">
                {% endthumbnail %}
                {% if celebrity in user.celebrity_subscribe.all %}
                    <div class="ic-check-follow" title="Вы подписаны"><i class="fa fa-check"></i></div>
                {% endif %}
            </div>
        </div>
        {% if user.is_authenticated %}
            {% if celebrity in user.celebrity_subscribe.all %}
                <div class="subscribe-wrapper clearfix">
                    <a href="" class="but-subscribe but-remove-subscribe">Вы подписаны<i class="fa  fa-caret-down"></i></a>
                    <ul class="subscribe-remove">
                        <li>Отписаться?</li>
                        <li><a href="{% url 'heaps_app:celebrity-subscribe' slug=celebrity.slug %}">Да</a></li>
                        <li><a href="#" class="subscribe-remove-close">Нет</a></li>
                    </ul>
                </div>
            {% else %}
                <a href="{% url 'heaps_app:celebrity-subscribe' slug=celebrity.slug %}" class="but-subscribe">
                    Подписаться
                </a>
            {% endif %}
        {% else %}
            <a href="#" class="but-subscribe" data-toggle="modal" data-target="#login">Подписаться</a>
        {% endif %}
    </div>
    <div class="col-md-8 col-sm-6">
        <div class="person-name-general">{{ celebrity }}</div>
        <div class="full-description">{{ celebrity.description|safe }}</div>
        {% if celebrity.socialnetwork_set.count %}
            <ul class="social-post-znam-page">
                {% for social_network in celebrity.socialnetwork_set.all %}
                    <li class="{{ social_network.social_network }}">
                        <a href="{{ social_network.url }}" target="_blank"></a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    {% if celebrities %}
        <div class="content-similars">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <span>Знаменитости из похожей категории</span>
                    </div>
                    {% include 'heaps_app/_celebrities_block.html' %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}