<div id="sidebar">
    <div class="start-content-sdb">
        <div id="logo"><a href="{% url 'heaps_app:index' %}">HeapsMe</a></div>
        <span class="subtitle-sdb">Знаменитости в соц сетях</span>
        <span class="subtitle-sdb-2">Узнавай первым<br> самые свежие<br> новости звезд</span>
        <span class="subtitle-sdb-3">Подписывайся<br> Следи за новостями<br> Авторизуйся<br> Добавь звезду</span>
        <span class="subtitle-sdb-4">Регистрируйся<br> прямо сейчас<br> и начни свой путь<br> в мир популярных<br> людей</span>

        <div class="but-log-reg-sdb">
            <button data-toggle="modal" data-target="#login" class="but-start-sdb">Вход</button>
            <button data-toggle="modal" data-target="#registration" class="but-start-sdb">Регистрация</button>
        </div>
    </div>
</div>

<div id="login" role="dialog" class="modal fade">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-5 col-sm-offset-2 col-sm-8">
                <form class="clearfix" action="{% url 'heaps_app:account-login' %}" method="post">
                    {% csrf_token %}
                    <div class="head-form">
                        <span>Вход на сайт</span>

                        <div class="but-close-form" data-dismiss="modal"></div>
                    </div>
                    {% for field in login_form %}
                        <div class="input-box">
                            <label for="{{ field.id_for_label }}"
                                   class="ic-input {% cycle 'ic-log' 'ic-parol' %}"></label>
                            {{ field }}
                        </div>
                        <div class="unrer-dec"></div>
                    {% endfor %}
                    <button class="send">ВОЙТИ</button>
                    <div class="social-form-box">
                        <div class="title-social-log-in">Или войти через:</div>
                        <ul class="social-log-in clearfix">
                            <li><a href="{% url 'social:begin' 'vk-oauth2' %}"></a></li>
                            <li><a href="{% url 'social:begin' 'twitter' %}"></a></li>
                            <li><a href="{% url 'social:begin' 'facebook' %}"></a></li>
                            <li><a href="{% url 'social:begin' 'google-plus' %}" id="google-plus-button"></a></li>
                            <li><a href="{% url 'social:begin' 'instagram' %}"></a></li>
                        </ul>
                    </div>
                    <a class="link-forgot-log" href="#" data-toggle="modal" data-target="#forgotten-password">Напомнить
                        пароль</a>
                    <a class="link-reg-log-mod" href="#" data-toggle="modal" data-target="#registration">Регистрация</a>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="registration" role="dialog" class="modal fade">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-5 col-sm-offset-2 col-sm-8">
                <form action="{% url 'heaps_app:account-registration' %}" method="post">
                    {% csrf_token %}
                    <div class="head-form">
                        <span>Регистрация</span>

                        <div class="but-close-form" data-dismiss="modal"></div>
                    </div>
                    {% for field in registration_form %}
                        <div class="input-box">
                            <label for="{{ field.id_for_label }}"
                                   class="ic-input {% cycle 'ic-log' 'ic-parol' 'ic-parol' %}"></label>
                            {{ field }}
                        </div>
                        <div class="unrer-dec"></div>
                    {% endfor %}
                    <button class="send">ОТПРАВИТЬ</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="forgotten-password" role="dialog" class="modal fade modal-EmailVerif">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-5 col-sm-offset-2 col-sm-8">
                <form action="{% url 'heaps_app:account-forgotten-password' %}" method="post">
                    {% csrf_token %}
                    <div class="head-form">
                        <span>Укажите ваш email:</span>
                    </div>
                    {% for field in password_forgotten_form %}
                        <div class="input-box">
                            <label for="{{ field.id_for_label }}" class="ic-input ic-log"></label>
                            {{ field }}
                        </div>
                        <div class="unrer-dec"></div>
                    {% endfor %}
                    <button class="send">ОТПРАВИТЬ</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% if backend %}
    <div id="email-verification" role="dialog" class="modal fade modal-EmailVerif">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-3 col-md-5 col-sm-offset-2 col-sm-8">
                    <form action="{% url "social:complete" backend %}" method="post">
                        {% csrf_token %}
                        <div class="head-form">
                            <span>Введите почту всего один раз для подтверждения входа.</span>
                        </div>
                        {% for field in email_verification_form %}
                            <div class="input-box">
                                <label for="{{ field.id_for_label }}" class="ic-input ic-log"></label>
                                {{ field }}
                            </div>
                            <div class="unrer-dec"></div>
                        {% endfor %}
                        <button type="submit" class="send">ОТПРАВИТЬ</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endif %}

<div id="message-modal" class="mod-basic-info modal fade">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
                <div class="wrapper clearfix">
                    <div class="img-inf-mod"></div>
                    <div class="right-col-inf-mod">
                        <span>{{ message }}</span>
                        <button class="but-mod-b-info clearfix" data-dismiss="modal">Ок</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://apis.google.com/js/api:client.js"></script>

<script type="text/javascript">
    gapi.load('auth2', function () {
        var auth2;

        auth2 = gapi.auth2.init({
            client_id: "{{ google_plus_key }}",
            scope: "{{ google_plus_scope }}"
        });

        auth2.then(function () {
            var button = document.getElementById("google-plus-button");
            console.log("User is signed-in in Google+ platform?", auth2.isSignedIn.get() ? "Yes" : "No");

            auth2.attachClickHandler(button, {}, function (googleUser) {

                var authResponse = googleUser.getAuthResponse();
                var $form;
                var $input;

                $form = $("<form>");
                $form.attr("action", "/complete/google-plus/");
                $form.attr("method", "post");
                $input = $("<input>");
                $input.attr("name", "access_token");
                $input.attr("value", authResponse.access_token);
                $form.append($input);
                // Add csrf-token if needed
                $(document.body).append($form);
                $form.submit();
            });
        });
    });
</script>