{% load static %}

<div class="col-lg-2">
    <a href="/"><img src="{% static 'heaps_app/images/logo.png' %}"></a>

    <div class="slogan">
        Будьте в курсе последних
        новостей из всех социальных
        сетей раньше остальных
    </div>
    <div id="authorization">
        <a href="#" data-toggle="modal" data-target="#registration-modal">Зарегистрируйтесь</a><br>
        <span>или</span><br>
        <a href="#" data-toggle="modal" data-target="#login-modal">Войдите</a>
    </div>
</div>

<div class="modal fade" id="registration-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{% url 'heaps_app:account-registration' %}" method="post">
                {% csrf_token %}
                <div class="modal-header"><h4 class="modal-title">Регистрация</h4></div>
                <div class="modal-body">
                    {% for field in registration_form %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                    {% endfor %}
                    <div class="error-section"></div>
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Регистрация" class="btn btn-primary btn-block">
                </div>
            </form>
            <div style="width: 70%; margin: 0 auto; text-align: center">
                <h3>Вход через социальные сети</h3>

                <div class="buttons">
                    <a href="{% url 'social:begin' 'vk-oauth2' %}" class="btn btn-info btn-sm">VK</a>
                    <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-info btn-sm">FACEBOOK</a>
                    <a href="{% url 'social:begin' 'twitter' %}" class="btn btn-info btn-sm">TWITTER</a>
                    <a href="{% url 'social:begin' 'instagram' %}" class="btn btn-info btn-sm">INSTAGRAM</a>
                    <a href="{% url 'social:begin' 'google-plus' %}" id="google-plus-button"
                       class="btn btn-info btn-sm">GOOGLE+</a>
                </div>
                <br><br>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="login-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{% url 'heaps_app:account-login' %}" method="post">
                {% csrf_token %}
                <div class="modal-header"><h4 class="modal-title">Вход</h4></div>
                <div class="modal-body">
                    {% for field in login_form %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                    {% endfor %}
                    <div class="error-section"></div>
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Вход" class="btn btn-primary btn-block">
                </div>
            </form>
            <div style="width: 70%; margin: 0 auto; text-align: center">
                <h3>Вход через социальные сети</h3>

                <div class="buttons">
                    <a href="{% url 'social:begin' 'vk-oauth2' %}" class="btn btn-info btn-sm">VK</a>
                    <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-info btn-sm">FACEBOOK</a>
                    <a href="{% url 'social:begin' 'twitter' %}" class="btn btn-info btn-sm">TWITTER</a>
                    <a href="{% url 'social:begin' 'instagram' %}" class="btn btn-info btn-sm">INSTAGRAM</a>
                    <a href="{% url 'social:begin' 'google-plus' %}" id="google-plus-button"
                       class="btn btn-info btn-sm">GOOGLE+</a>
                </div>
                <br><br>
            </div>
        </div>
    </div>
</div>

{% if backend %}
    <div class="modal fade" id="email-required" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="{% url "social:complete" backend %}" method="post">
                    {% csrf_token %}
                    <div class="modal-header"><h4 class="modal-title">Укажите email</h4></div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label" for="email">Email address:</label>
                            <input class="form-control" id="email" type="email" name="email">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Продолжить" class="btn btn-primary btn-block">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endif %}

<div id="validation-sent-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Email Validation Sent</h4>
            </div>

            <div class="modal-body">
                <p>An email validation was sent{% if email %} to <code>{{ email }}</code>{% endif %}.</p>

                <p>Click the link sent to finish the authentication process.</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="https://apis.google.com/js/api:client.js"></script>

<script type="text/javascript">
    gapi.load('auth2', function () {
        var auth2;

        auth2 = gapi.auth2.init({
            client_id: "{{ google_plus_key }}",
            scope: "{{ google_plus_scope }}"
        });

        auth2.then(function () {
            var button = document.getElementById("google-plus-button");
            console.log("User is signed-in in Google+ platform?", auth2.isSignedIn.get() ? "Yes" : "No");

            auth2.attachClickHandler(button, {}, function (googleUser) {

                var authResponse = googleUser.getAuthResponse();
                var $form;
                var $input;

                $form = $("<form>");
                $form.attr("action", "/complete/google-plus/");
                $form.attr("method", "post");
                $input = $("<input>");
                $input.attr("name", "access_token");
                $input.attr("value", authResponse.access_token);
                $form.append($input);
                // Add csrf-token if needed
                $(document.body).append($form);
                $form.submit();
            });
        });
    });
</script>